*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}


/*section*/
section{
    background: url(Contents/wallpapersden.com_cool-4k-pattern_3840x2160.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: all .5s;
}





/*SIDEBAR*/

.sidebar{
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    background-color:  black;
    margin-left: -250px;
    transition: all .5s ease;
}

/*sidebar-header*/
.sidebar header{
    font-size: 30px;
    text-align: center;
    line-height: 70px;
    background-color: grey;
    color: white;
    user-select: none;
    transition: .4s;
}
.sidebar header:hover{
    font-size: 35px;
}

/*sidebar-ul*/
.sidebar ul {
    text-align: center;
    display: block;
    line-height: 50px;
    font-size: 20px;
    padding-left: 0px;
    box-sizing: border-box;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    list-style-type: none;
}
.sidebar ul a{
    display: block;
    border-top: 3px solid white;
    transition: .4s;    
}
.sidebar ul a:hover{
    font-size: 30px;
    padding: 10px;  
}
.sidebar li:nth-child(odd) {
    background-color: #222;
}
.sidebar ul a:link{
    color: white;
    background-color: transparent;
    text-decoration: none;
}
.sidebar ul a:visited{
    color: white;
    background-color: transparent;
    text-decoration: none;
}

/*checkbox*/
label #btn, label #cancel{
    position: absolute ;
    cursor: pointer;
}
#checksb{
    display: none;
}
label #btn{
    left: 40px;
    top: 22px;
    font-size: 40px;
    padding: 6px 12px;
    transition: .4s;
    color: white;
    transition: all .5s ease;
}
label #btn:hover{
    font-size: 45px;
}
label #cancel{
    z-index: 1111;
    left: -220px;
    top: 17px;
    color: white;
    font-size: 17px;
    position: fixed;
    transition: all .5s ease;
}
label #cancel:hover{
    font-size: 22px;
}
#checksb:checked ~ .sidebar{
    margin-left: 0px;
}
#checksb:checked ~ label #btn{
    left: 250px;
    opacity: 0;
    pointer-events: none;
}
#checksb:checked ~ label #cancel{
    left: 220px;
}
#checksb:checked ~ section{
    margin-left: 250px;
}









/*NAVBAR*/
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
}

/*navbar-header*/
.navbar header{
    font-size: 25px;
    text-align: center;
    line-height: 25px;
    color: white;
    user-select: none;
    transition: .4s;
    margin-left: 100px;
    transition: all .5s ease;
}
.navbar header:hover{
    font-size: 26px;
}

/*navbar-links*/
.navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
    line-height: 40px;
    margin-right: 40px;
}
.navbar-links li{
    list-style: none;
}
.navbar-links li a{
    text-decoration: none;
    color: white;
    padding: 1rem;
    text-align: center;
    transition: all .5s ease;
    gap: 2rem;
}
.navbar ul li:hover{
    background-color: #222;
}
.navbar ul a:hover{
    background-color: #222;
    text-decoration: underline;
    font-size: 18px;
}
.navbar ul a:link{
    color: white;
    background-color: transparent;
    text-decoration: none;
}
.navbar ul a:visited{
    color: white;
    background-color: transparent;
    text-decoration: none;
}
.navbar .nav-btn{
    position: absolute ;
    cursor: pointer;
    right: 30px;
    top: 20px;
    font-size: 40px;
    padding: 6px 12px;
    transition: .4s;
    color: white;
    transition: all .5s ease;
    display: none;
}
@media(max-width:992px){
    .navbar-links{
        display: none;
    }
    .navbar .nav-btn{
        display:block;
    }
    .navbar .dropdown_menu{
        display: block;
    }

}
.dropdown_menu{
    position: absolute;
    right: 2rem;
    top: 80px;
    background-color: black;
    line-height: 30px;
    width: 300px;
    border-radius: 10px;
    display: none;
    transition: .5s ease;
}
.dropdown_menu li{
    padding: 10px;
    display: flex;
    align-items: center;
}
